/* Reset */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* Utilities classes */
.row {
    display: flex;
}

/* Body */
body {
    background-color: rgb(60, 59, 59);
}

/* Header */
header {
    background-color: red;
    width: calc(13%);
    position: fixed;
}

.playlist {
    display: none;
}

.lap {
    display: none;
}

/* .logo {
    
} */

/* Main */
main {
    background-color: green;
    width: calc(87%);
    position: relative;
    left: calc(13%);
}

/* Footer */
footer {
    background-color: blue;
    position: fixed;
    width: 100%;
}

/* Debug (Da disattivare) */
main,
header {
    height: 650px;
}

footer {
    height: calc(100% - 650px);
}