/* Reset */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* Utilities classes */
.row {
    display: flex;
}

/* Body */
body {
    background-color: rgb(60, 59, 59);
}

/* Header */
header {
    background-color: red;
    width: calc(13%);
}

/* Main */
main {
    background-color: green;
    width: calc(87%);
}