/* Reset */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;   
}

/* Utilities classes */
.row {
    display: flex;
}

.column {
    display: flex;
    flex-direction: column;
}

/* Body */
body {
    background-color: #151922;
}

/* Sidebar */
.sidebar {
    background-color: #000000;
    width: calc(13%);
    position: fixed;
    justify-content: space-between;
}

a {
    text-decoration: none;
    color: #5e5e5e;
    display: flex;
    align-items: center;
}

span {
    font-size: 20px;
}

/* Sopra */
.sopra{
    height: calc(50%);
}

.playlist {
    display: none;
}

.lap {
    display: none;
}
.bordo {
    border-left: 5px solid;
    border-right: 5px solid;
    margin-bottom: 10px;
}

.bordo:hover {
    border-left: 5px solid rgb(254, 254, 140);
}

.bordo.selez {
    border-left: 5px solid yellow;
}

.icona {
    width: calc(75%);
    padding-bottom: calc(75%);
    background-color: #5e5e5e;
    margin: 0px auto;
    mask-size: cover;  
}

.icona.logo {
    background-color: #ffffff;
    mask-image: url("../img/logo-small.svg");
    margin-top: 20px;
    margin-bottom: 20px;
}

.icona.home {
    mask-image: url("../img/home.svg");
    
}

.icona.search {
    mask-image: url("../img/search.svg");
}

.icona.library {
    mask-image: url("../img/libreria.svg");
}

/* Sotto */
.icona.download {
    mask-image: url("../img/download.svg");
}

.bordo-account {
    background-color: gray;
    padding: calc(10%);
    border-radius: 50%;
}

.icona.account {
    background-color: #ffffff;
    mask-image: url("../img/profile.svg");
    padding: 10px;
}

/* Main */
main {
    width: calc(87%);
    position: relative;
    left: calc(13%);
}

/* Footer */
footer {
    background-color: #282828;
    position: fixed;
    width: 100%;
    bottom: 0px;
}

/* Responsive */
@media screen and (min-width: 992px) {
    .sidebar {
        width: calc(25%);
    }

    .lap{
        display: inline;
    }

    .icona {
        width: calc(25%);
        padding-bottom: calc(25%);
        margin: 0px;
    }
}

/* Debug (Da disattivare) */
.sidebar {
    height: calc(85%);
}

footer {
    height: calc(15%);
}
