/* Reset */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    color: #ffffff;   
}

/* Utilities classes */
.row {
    display: flex;
}

.column {
    display: flex;
    flex-direction: column;
}

/* Header */
header {
    background-color: red;
    justify-content: space-between;
}

.logo {
    padding: 20px 0px;
    width: 15%;
}

/* Main */
main {
    background-color: yellow;
}

/* Sidebar */
.sidebar {
    background-color: blue;
    width: 230px;
}

a {
    text-decoration: none;
}
.elenco {
    align-items: center;
    padding: 15px;
    border-left: 2px solid greenyellow;
}

.icona {
    width: 25%;
}

/* Footer */
footer {
    background-color: green;
}