/* Reset */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;   
}

/* Utilities classes */
.row {
    display: flex;
}

.column {
    display: flex;
    flex-direction: column;
}

/* Header */
header {
    background-color: red;
}

.logo {
    background-color: white;
    padding-bottom: 20px;
    mask-image: url("../img/logo.svg");
}

/* Main */
main {
    background-color: yellow;
}

/* Footer */
footer {
    background-color: green;
}